doctype
html
  head
    meta(charset='UTF-8')
    title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    //-Bootstrap 3.3.2
    link(href='/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    //-Font Awesome Icons
    link(href='/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    //-数据表格相关样式
    link(href='/plugins/datatables/dataTables.bootstrap.css', rel='stylesheet', type='text/css')
    //-Theme style
    link(href='/stylesheets/backstage/css/AdminLTE.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/backstage/css/skins/skin-blue.min.css', rel='stylesheet', type='text/css')
    //-百度编辑器
    //-配置文件
    script(type='text/javascript', src='/ueditor/ueditor.config.js')
    //-编辑器源码文件
    script(type='text/javascript', src='/ueditor/ueditor.all.js')
    //-jquery
    script(src='/javascripts/jquery-1.10.2.min.js', type='text/javascript')
    //-zTree树形组件
    link(rel='stylesheet', href='/plugins/ztree/css/zTreeStyle/zTreeStyle.css', type='text/css')
    script(type='text/javascript', src='/plugins/ztree/js/jquery.ztree.all-3.5.js')
    //-uploadify
    link(href='/plugins/uploadify/uploadify.css', rel='stylesheet', type='text/css')
    script(src='/plugins/uploadify/jquery.uploadify.min.js')
    //-doraPlugs
    link(rel='stylesheet', href='/plugins/git/doraPlugs/css/dora.css')
    script(src='/plugins/git/doraPlugs/js/dora.js')
    //-幻灯片插件开始
    script(type='text/javascript', src='/plugins/fancybox/source/jquery.fancybox.js?v=2.1.5')
    link(rel='stylesheet', type='text/css', href='/plugins/fancybox/source/jquery.fancybox.css?v=2.1.5', media='screen')
    script(src='/javascripts/dora.public.js')
    script(src='/javascripts/backstage/dora.backstage.js')
    link(rel='stylesheet', href='/stylesheets/backstage/css/style.css')
  body.skin-blue(ng-app='adminApp')
    .wrapper
      //-Main Header
      header.main-header
        //-Logo
        a.logo(href='/admin/manage')
          b Dora
          | CMS
        //-Header Navbar
        nav.navbar.navbar-static-top(role='navigation')
          //-Sidebar toggle button
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
          //-Navbar Right Menu
          .navbar-custom-menu
            ul.nav.navbar-nav
              //-User Account Menu
      //-Left side column. contains the logo and sidebar
      aside.main-sidebar
        //-sidebar: style can be found in sidebar.less
        section.sidebar
          //-search form (Optional)
          form.sidebar-form(action='#', method='get')
            .input-group
              input.form-control(type='text', name='searchKey', placeholder='Search...', value='')
              span.input-group-btn
                button#search-btn.btn.btn-flat(type='submit', name='search')
                  i.fa.fa-search
          //-/.search form
          //-Sidebar Menu
          ul.sidebar-menu
            li.header Main Menu
            //-Optionally, you can add icons to the links
            input#currentCate(type='hidden', value='<%= bigCategory%>')
            li.treeview.active(cid='sysTemManage')
              a(href='#')
                span 系统管理
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li(cid='sysTemManage_user')
                  a(href='/admin/manage/adminUsersList')
                    i.fa.fa-user
                    |  系统用户管理
                li(cid='sysTemManage_uGroup')
                  a(href='/admin/manage/adminGroupList')
                    i.fa.fa-group
                    |  用户组设定
                li(cid='sysTemManage_ads')
                  a(href='/admin/manage/adsList')
                    i.fa.fa-camera-retro
                    |  广告管理
                li(cid='sysTemManage_files')
                  a(href='/admin/manage/filesList')
                    i.fa.fa-file-text
                    |  文件管理器
                li(cid='sysTemManage_data')
                  a(href='#')
                    i.fa.fa-cloud
                    |  数据管理
                    i.fa.fa-angle-left.pull-right
                  ul.treeview-menu
                    li(cid='sysTemManage_data_1')
                      a(href='/admin/manage/backUpData')
                        i.fa.fa-copy
                        |  数据备份
                li(cid='sysTemManage_logs')
                  a(href='/admin/manage/systemLogs')
                    i.fa.fa-fw.fa-clipboard
                    |  系统日志管理
            li.treeview(cid='contentManage')
              a(href='#')
                span 文档管理
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li(cid='contentManage_content')
                  a(href='/admin/manage/contentList')
                    i.fa.fa-file-text-o
                    |  文档管理
                li(cid='contentManage_cateGory')
                  a(href='/admin/manage/contentCategorys')
                    i.fa.fa-clipboard
                    |  文档类别管理
                li(cid='contentManage_tag')
                  a(href='/admin/manage/contentTags')
                    i.fa.fa-tags
                    |  文档标签管理
                li(cid='contentManage_temp')
                  a(href='#')
                    i.fa.fa-dashboard
                    |  模板管理
                    i.fa.fa-angle-left.pull-right
                  ul.treeview-menu
                    li(cid='contentManage_temp_1')
                      a(href='/admin/manage/contentTemps')
                        i.fa.fa-cog
                        |  模板配置
                  ul.treeview-menu
                    li(cid='contentManage_temp_2')
                      a(href='/admin/manage/contentTempsEdit')
                        i.fa.fa-edit
                        |  模板编辑
                li(cid='contentManage_msg')
                  a(href='/admin/manage/messageList')
                    i.fa.fa-comments
                    |  留言管理
                li(cid='contentManage_notice')
                  a(href='#')
                    i.fa.fa-bullhorn
                    |  消息管理
                    i.fa.fa-angle-left.pull-right
                  ul.treeview-menu
                    li(cid='contentManage_notice_1')
                      a(href='/admin/manage/systemNotice')
                        i.fa.fa-volume-up
                        |  公告管理
                  ul.treeview-menu.hide
                    li(cid='contentManage_notice_2')
                      a(href='/admin/manage/userNotice')
                        i.fa.fa-male
                        |  用户消息
                  ul.treeview-menu
                    li(cid='contentManage_notice_3')
                      a(href='/admin/manage/sysTemBackStageNotice')
                        i.fa.fa-bell-o
                        |  系统消息
            li.treeview(cid='userManage')
              a(href='#')
                span 会员管理
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li(cid='userManage_user')
                  a(href='/admin/manage/regUsersList')
                    i.fa.fa-users
                    |  注册会员列表
          //-/.sidebar-menu
        //-/.sidebar
      //-Content Wrapper. Contains page content
      .content-wrapper
        //-Content Header (Page header)
        section.content-header
          h1
          ol.breadcrumb
            li.active
              a(href='http://<%=myDomain%>', target='_blank')
                i.fa.fa-home
                |  前台首页
        //-Main content
        section.content
        //-/.content
      //-/.content-wrapper
      //-Main Footer
      footer.main-footer
        //-Default to the left
        strong
          | Copyright © 2015 
          a(href='https://github.com/doramart/DoraCMS', target='_blank') DoraCMS 
          | .
        |  All rights reserved.
    //-./wrapper
    //-REQUIRED JS SCRIPTS
    //-Bootstrap 3.3.2 JS
    script(src='/javascripts/bootstrap.min.js', type='text/javascript')
    //-数据表格插件开始
    //-<script src="/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    //-<script src="/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
    //-AdminLTE App
    script(src='/javascripts/backstage/app.min.js', type='text/javascript')
    //-数据绑定
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/backstage/controller.js')
    script(src='/javascripts/backstage/filters.js')
    script(src='/javascripts/backstage/directives.js')
    script.
      $(function(){
      var curerntCate = $("#currentCate").val();
      var sv = $('li[cid="'+curerntCate+'"]');
      $('.treeview-menu').removeClass('open-menu');
      $(".sidebar-menu").find("li").removeClass('active');
      sv.parents('li').addClass('active');
      sv.addClass('active').parents('.treeview-menu').addClass('open-menu');
      })
